@{
    ViewBag.Title = "О компании";
}

<div class="container text-center mt-3">
    <h2>@ViewBag.Title</h2>
    <img class="img-fluid mt-2 mb-5" src="~/Images/About.jpg">
    <p>Свою деятельность компания "Beta Food Industry and Trade Inc" в качестве небольшого предприятия начала в 1978 году в г.Адана.</p>
    <div class="text-left">
        <h3>Возникновение</h3>
        <div style="border-bottom: 5px solid #212121; width:250px;" class=""></div><br>
        <p>В первые годы компания занималась торговлей не пищевых продуктов, однако со временем внимание компании переключалось на пищевую сферу, где можно было создавать собственные бренды.</p>
        <p>"Beta Food" была первой компанией, начавшей импорт чая из-за рубежа. Именно она познакомила турецкого потребителя с новыми вкусовыми ощущениями. В 1994 году экономический кризис в стране коснулся и компании "Beta Food", заставив ее искать выходы на новые рынки. После распада СССР компания воспользовалась случаем и начала распространять свою продукцию в постсоветских странах. Она стала первой частной организацией, экспортирующей чай в страны бывшего Советского Союза.</p>
        <h3>Развитие</h3>
        <div style="border-bottom: 5px solid #212121; width:250px;" class=""></div><br>
        <p>Компания "Beta Food" начала поставлять брендовые сорта чая в Азербайджан, Казахстан, Таджикистан, Узбекистан, Киргизию, Россию, и Ирак. Она продолжает попытки выхода на рынки Америки, Среднего Востока и Восточной Европы.</p>
        <p>Компания "Beta Food" является создателем 4-х брендов чая, известных во всем мире: Beta Tea, Bayce, Champion и Howhad Brand. Постоянно стараясь оправдать доверие клиентов к этим брендам, "Beta Food" сумела набраться сил и заняться разработкой различных продуктов. Benuta, Beta Caffito, Wavey, Belita, Bon Vivant, Snax, Funcy и подобные бренды продуктов пищевой сферы имеют большой успех и высокое качество.</p>
        <h3>Мировой бренд</h3>
        <div style="border-bottom: 5px solid #212121; width:250px;" class=""></div><br>
        <p>"Beta Food" обладает современным фасовочно-упаковочным комплексом в Индустриальном районе Хаджи Сабанджи в г.Адана. Она предоставляет свои услуги как турецким, так и зарубежным клиентам.</p>
        <p>Выкупив завод по производству чая в г.Сурмене, Трабзон, в последние годы компания "Beta Food" начала заниматься производством чая по мировым стандартам.</p>
        <p>В наши дни "Beta" является мировым брендом, всеми силами старающимся предоставить своему покупателю самый хороший и качественный чай за разумную цену.</p>
    </div>
</div>

