@{
    ViewBag.Title = "О компании";
}

<div class="container text-center mt-3">
    <h2>@ViewBag.Title</h2>

    <div class="text-left">
        <br>
        <p>
            Компания "Beta Gıda Sanayi ve Ticaret A.Ş" начинала свою деятельность в 1978 году в г.Адана в качестве небольшого торгового предприятия.С 1987 года основатель компании Бешир Угур, будучи пылким ценителем чая, решил осуществить свою мечту и занялся производством и реализацией чая. С тех пор компания стремительно развивалась, завоёвывая любовь всех неравнодушных к чаю людей.
        </p>
        <p>
            С 1994 году компании "Beta Gıda" начала выходить на новые рынки и стала первой частной организацией, экспортирующей чай в страны бывшего Советского Союза. В России компания смогла прочно утвердить свои позиции, предложив качественный и доступный продукт.
        </p>
        <p>
            Помимо производственного комплекса в г.Адана, Турция, компания оборудовала современные чаефасовочные фабрики на территории России, Казахстана, Узбекистана, Кыргызстана и Азербайджана. Благодаря хорошо спланированной сети филиалов и грамотной логистике компания обеспечивает любимым напитком жителей Центральной Азии, Индии, Китая, стран СНГ, Европы и Африки.
        </p>
        <p>
            На территории Беларусии компания "Beta Gıda" выпускает чай 5 собственных брендов:
        </p>
        <div class="row-cols-3">
        • Beta Tea
        • Bayce
        • Champion
        • Хezer
        • Howhad
        <p>
        </p>
        </div>
        Помимо чая мы предлагаем собственную товарную марку шоколадной пасты Benuta, а также растворимого кофе Beta Caffitо.
        <p>
        </p>
        <p>
            В высококонкурентной среде производителей чая мы одни из немногих, кто уделяет большое внимание к качеству и безопасности продукции. Мы можем гарантировать качество нашей продукции прежде все потому, что:
        </p>
        • Все сырье приобретается только у проверенных и сертифицированных чайных фабрик Индии, Шри-Ланки, Кении и Китая, которые гарантируют правильную и бережную обработку чайного листа, а также бережное хранение и транспортировку
        <p>
        </p>
        • На фабриках Beta строго соблюдаются санитарно-гигиенические нормы
        <p>
        </p>
        • При производстве разрешается использовать только натуральные ингредиенты
        <p>
        </p>
        • Мы контролируем каждый этап производства.
        <p>
        </p>
        Безопасность и качество всей продукции подтверждаются Декларацией о соответствии. Неоднократно продукты "Beta Gıda" становились лауреатами престижных отраслевых конкурсов и были отмечены как «Продукт года»
        <p>
        </p>
        <br>
    </div>
</div>

