@{
    ViewBag.Title = "Наши контакты";
}
<div class="container text-center mt-3">
    <h2>@ViewBag.Title</h2>

    <address>
        ООО "Бета Запад"<br />
        Республика Беларусь, г. Минск,<br />
        ул. Петруся Глебки, дом 11, пом. 34Д, литер А 2/к.<br />
    </address>

    <address>
        <strong>Телефон:</strong>   +375(29)156-02-00<br />
        <strong>Email:</strong>   <a href="mailto:beta.minsk@mail.ru">beta.minsk@mail.ru</a><br />
    </address>
</div>
