@{
    ViewBag.Title = "Наши контакты";
}
<div class="container text-center mt-3">
    <h2>@ViewBag.Title</h2>
    <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9392.786156383583!2d27.4321264!3d53.9460168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d85dc0adc480b46!2zQkVUQSBURUEgLSDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sby!4v1621547251335!5m2!1sru!2sby" width="1920" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <address>
        ООО "Бета Запад"<br />
        Республика Беларусь, г. Минск,<br />
        улица Заречная д.1В3, Ждановичи 223028<br />
    </address>

    <address>
        <strong>Телефон:</strong>   +375 (29) 156-02-00<br />
        <strong>Email:</strong>   <a href="mailto:beta.minsk@mail.ru">beta.minsk@mail.ru</a><br />
    </address>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
</script>
