<div class="list-group">
    <a href="@Url.Action("CraeteNews", "Admin")" class="list-group-item" style="background-color:#212121;color: rgba(255,255,255,0.5)"><i class="fa fa-key"></i> <span>Добавить новости</span></a>
    <a href="#" class="list-group-item" style="background-color:#212121;color: rgba(255,255,255,0.5)"><i class="fa fa-credit-card"></i> <span>Добавить продукты</span></a>
</div>